.splitpanes {
  display: flex;
  width: 100%;
  height: 100%;
}

.splitpanes--vertical {
  flex-direction: row;
}

.splitpanes--horizontal {
  flex-direction: column;
}

.splitpanes__pane {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: width 0.2s ease-out, height 0.2s ease-out;
  background-color: var(--md-sys-color-surface-container);
}

.splitpanes--vertical > .splitpanes__pane {
  transition: width 0.2s ease-out;
}

.splitpanes--horizontal > .splitpanes__pane {
  transition: height 0.2s ease-out;
}

.splitpanes__splitter {
  background-color: transparent;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s ease;
}

.splitpanes__splitter:hover {
  background-color: color-mix(in srgb, var(--md-sys-color-primary) 20%, transparent);
}

.splitpanes--vertical > .splitpanes__splitter {
  width: 7px;
  cursor: col-resize;
}

.splitpanes--horizontal > .splitpanes__splitter {
  height: 7px;
  cursor: row-resize;
}

.splitpanes__splitter::before {
  content: '';
  position: absolute;
  background-color: var(--md-sys-color-outline-variant);
}

.splitpanes--vertical > .splitpanes__splitter::before {
  left: 3px; top: 0; bottom: 0; width: 1px;
}

.splitpanes--horizontal > .splitpanes__splitter::before {
  top: 3px; left: 0; right: 0; height: 1px;
}